.panel-info > .panel-heading{
	background: #5BC0DE;
	color: #FFF;
}

.panel-danger > .panel-heading{
	background: #D9534F;
	color: #FFF;
}

.panel-success > .panel-heading{
	background: #449D44;
	color: #FFF;
}

.panel-warning > .panel-heading{
	background: #F0AD4E;
	color: #FFF;
}

.panel-inverse > .panel-heading{
	background: #000;
	color: #FFF;
}

